<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{BookName}} {{Chapter}}</title>
        <link rel=stylesheet href="../style.css">
    </head>
    <body>
        <div id="header">
            <a id="btn-ckjv">ckjv</a>
            <a id="btn-kjv">kjv</a>
            <a id="btn-diff">diff</a>
            <a id="btn-idiff">inline-diff</a>
        </div>

        <div class="heading">
            <h1>{{BookName}}</h1>
            <h2>Chapter {{Chapter}}</h2>
        </div>

        {{#Verses}}
        <div class="verse">
            <p class="ckjv">
            <span class="cv">{{Chapter}}:{{Verse}}</span> {{{ TText }}}
            </p>
            <p class="kjv">
            <span class="cv">{{Chapter}}:{{Verse}}</span> {{{ TText }}}
            </p>
        </div>
        {{/Verses}}
        <div id="footer">
            {{#PrevChap}}
            <a href="{{BookAbr}}_{{PrevChap}}.html">{{BookName}} {{PrevChap}}</a>
            {{/PrevChap}}
            {{#NextChap}}
            <a href="{{BookAbr}}_{{NextChap}}.html">{{BookName}} {{NextChap}}</a>
            {{/NextChap}}
        </div>

        <script type=text/javascript src="../index.js"></script>
    </body>
</html>
