.verse p {
    margin-top: 0;
    margin-bottom: 0;
}

.verse {
    margin: 0.3em 0;
}

.diffadd, .diffrem {
    color: initial;
}

body.ckjv .ckjv {
    display: block;
}
body.diff .ckjv {
    display: block;
}
body.kjv .ckjv {
    display: none;
}
.ckjv .diffrem {
    display: none;
}
body.diff .ckjv .diffadd {
    color: green;
    text-decoration: underline;
    text-decoration-color: green;
}
body.diff .verse {
    border-bottom: 1px solid;
}


.verse .kjv {
    display: none;
}
body.kjv .kjv {
    display: block;
}
body.ckjv .kjv {
    display: none;
}
body.diff .kjv {
    display: block;
}
.kjv .diffadd {
    display: none;
}
body.diff .kjv .diffrem {
    color: red;
    text-decoration: line-through;
    text-decoration-color: black;
}

body.idiff .ckjv {
    display: block;
}
body.idiff .kjv {
    display: none;
}
body.idiff .ckjv .diffrem {
    display: inline;
    color: red;
    text-decoration: line-through;
    text-decoration-color: black;
}
body.idiff .ckjv .diffadd {
    color: green;
    text-decoration: underline;
    text-decoration-color: green;
}
